/* ----- Fonts -----*/
@font-face {
  font-family: Light;
  src: local('LeagueSpartan-Light'),
    url('./assets/fonts/LeagueSpartan-Light.ttf') format('truetype');
}
@font-face {
  font-family: Regular;
  src: local('LeagueSpartan-Regular'),
    url('./assets/fonts/LeagueSpartan-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Medium;
  src: local('LeagueSpartan-Medium'),
    url('./assets/fonts/LeagueSpartan-Medium.ttf') format('truetype');
}
@font-face {
  font-family: SemiBold;
  src: local('LeagueSpartan-SemiBold'),
    url('./assets/fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
}